/**** Overriding theme defaults ****/

:root {
  --pst-color-inline-code: 74, 105, 145;
  --pst-color-link: 52, 54, 99;
}

/* highlight over function signature after link */
dt:target, span.highlighted {
  background-color: #fdebba;
}

/* Syntax highlighting */

/* string literals */
.highlight .s2 {  
  color: rgb(107, 161, 174);
  font-weight: normal;
}
/* number literals */
.highlight .mi {  
  color: rgb(130, 114, 160);
  font-weight: normal;
}
.highlight .mf {
  color: rgb(130, 114, 160);
  font-weight: normal;
}
/* operators */
.highlight .o { 
  color: rgb(180, 124, 80);
  font-weight: bold;
}
/* builtins */
.highlight .kc {
  color: rgb(74, 105, 145);
  font-weight: normal;
}

/* *********************************************************************** */

/* --- Badges for categorizing release notes --- */

.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  /* font-weight: bold; */
  line-height: 13px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
  background-color: #999999;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  opacity: 70%;
}
.badge-api {
  background-color: #c44e52;
}
.badge-defaults {
  background-color: #dd8452;
}
.badge-docs {
  background-color: #8172b3;
}
.badge-feature {
  background-color: #55a868;
}
.badge-enhancement {
  background-color: #4c72b0;
}
.badge-fix {
    background-color: #ccb974;
}
.badge-dependencies {
    background-color: #937860;
}
