[run]
omit =
    seaborn/widgets.py
    seaborn/external/*
    seaborn/colors/*
    seaborn/cm.py
    seaborn/conftest.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
