body { color: #444444 !important; }

h1 { font-size: 40px !important; }
h2 { font-size: 32px !important; }
h3 { font-size: 24px !important; }
h4 { font-size: 18px !important; }
h5 { font-size: 14px !important; }
h6 { font-size: 10px !important; }

footer a{

    color: #4c72b0 !important;
}
a.reference {
    color: #4c72b0 !important;
}

blockquote p {
    font-size: 14px !important;
}

blockquote {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin: 0 0 0px !important;
}

pre {
    background-color: #f6f6f9 !important;
}

code {
    color: #49759c !important;
    background-color: #ffffff !important;
}

code.descclassname {
    padding-right: 0px !important;
}

code.descname {
    padding-left: 0px !important;
}

dt:target, span.highlighted {
    background-color: #ffffff !important;
}

ul {
    padding-left: 20px !important;  
}

ul.dropdown-menu {
    padding-left: 0px !important;
}

.alert-info {
    background-color: #adb8cb !important;
    border-color: #adb8cb !important;
    color: #2c3e50 !important;
}

/* From https://github.com/twbs/bootstrap/issues/1768 */
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}
