body {
    color: #444444 !important;
    max-width: 100% !important;
}

h1 { font-size: 40px !important; }
h2 { font-size: 32px !important; }
h3 { font-size: 24px !important; }
h4 { font-size: 18px !important; }
h5 { font-size: 14px !important; }
h6 { font-size: 10px !important; }

footer a{

    color: #4c72b0 !important;
}
a.reference {
    color: #4c72b0 !important;
}

blockquote p {
    font-size: 14px !important;
}

blockquote {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin: 0 0 0px !important;
}

pre {
    margin-top: 11.5px !important;
    background-color: #f6f6f9 !important;
}

code {
    color: #49759c !important;
    background-color: transparent !important;
}

code.descclassname {
    padding-right: 0px !important;
}

code.descname {
    padding-left: 0px !important;
}

dt:target, span.highlighted {
    background-color: #ffffff !important;
}

ul {
    padding-left: 20px !important;  
}

ul.dropdown-menu {
    padding-left: 0px !important;
}

.alert-info {
    background-color: #bbd2ea !important;
    border-color: #bbd2ea !important;
    color: #2c3e50 !important;
}

.alert-warning {
    background-color: #e09572 !important;
    border-color: #e09572 !important;
    color: #222222 !important;
}

img {
    margin-bottom: 10px !important;
}

/* From https://github.com/twbs/bootstrap/issues/1768 */
*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px; 
  visibility: hidden; 
}

.dataframe table {
    /*Uncomment to center tables horizontally*/
    /* margin-left: auto; */
    /* margin-right: auto; */
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    table-layout: fixed;
}

.dataframe thead {
    border-bottom: 1px solid;
    vertical-align: bottom;
}

.dataframe tr, th, td {
    text-align: left;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}

.dataframe th {
    font-weight: bold;
}

table {
    margin-bottom: 20px;
}

tbody tr:nth-child(odd) {
    background: #f5f5f5;
}

tbody tr:hover {
    background: rgba(66, 165, 245, 0.2);
}

.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  /* font-weight: bold; */
  line-height: 13px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
  background-color: #999999;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  opacity: 70%;
}
.badge-api {
  background-color: #c44e52;
}
.badge-defaults {
  background-color: #dd8452;
}
.badge-docs {
  background-color: #8172b3;
}
.badge-feature {
  background-color: #55a868;
}
.badge-enhancement {
  background-color: #4c72b0;
}
.badge-fix {
    background-color: #ccb974;
}

.navbar-brand {
    padding-top: 16px;
    padding-bottom: 16px;
}