
blockquote p {
    font-size: 14px !important;
}

blockquote {
    margin: 0 0 4px !important;
}

code {
    color: #49759c !important;
    background-color: #f3f5f9 !important;
}

.alert-info {
    background-color: #adb8cb !important;
    border-color: #adb8cb !important;
    color: #2c3e50 !important;
}

.function dt {
    padding-top: 150px;
    margin-top: -150px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
