docutils<0.18  # https://sourceforge.net/p/docutils/bugs/431/
sphinx==3.3.1
jinja2<3.1  # Needed for compat with pinned sphinx
sphinx_bootstrap_theme==0.8.0
jinja2<3.1  # Needed for compat with pinned sphinx
numpydoc
nbconvert
ipykernel
sphinx-issues
